<section class="container">
    <div class="page-panel">
  
      <div class="page-header">
        <h3>Usuários cadastrados</h3>
      </div>
      <div class="page-search">
          <input type="text" [(ngModel)]="term" class="form-control" placeholder="Busca local">
      </div>
      <div class="list-place">
        <table class="table">
          <thead>	
          <tr>
            <th>Nome</th>
            <th>Data de inscrição</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users | filter:term">
            <td>{{user.nome}}</td>
            <td>{{user.criacao | date:'medium'}}</td>
            <td>
            <a href="javascript:;"  class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  